.signin_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #0c0c0c;
}

.signin_wrapper {
  background-color: #0c0c0c;
  padding: 0 50px;
}

.signin-title {
  color: #e6283e;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn_signin {
  text-align: center;
  border-radius: 10px;
  background: #e6283e;
  border: none;
  font-weight: 400;
  font-size: 18px;
  margin-top: 13px;
}

.btn_signin:hover {
  opacity: .95;
}

.label_style {
  margin-bottom: 2px;
  color: #ebebeb;
  font-size: 17px;
}

.form_style {
  height: 37px;
  width: 50%;
}

@media screen and (max-width: 991px) {
  .form_style{
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .form_style{
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .form_style{
    width: 100%;
  }
}