/* Footer */
.footer_area {
  padding: 50px 155px 30px;
  background-color: rgba(12, 12, 12, .95);
}

.footer_title {
  font-weight: 600;
  color: #e6283e;
  margin-bottom: 10px;
}

.further_info {
  font-size: 17px;
  color: white;
  padding-left: 1px;
}

.further_info li {
  margin-bottom: 5px;
}

.socmed_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  margin: 0 5px;
}

.mubii_title {
  font-family: 'Tilt Warp', cursive;
  font-size: 30px;
  color: #e6283e;
  margin: 0;
}

.copyright {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .footer_area{
    padding: 50px 100px 30px;
  }
  .mt_30 {
    margin-top: 30px;
  }

  .mt_10 {
    margin-top: 10px;
  }

  .mubii_title {
    text-align: left;
    margin: 0;
  }
  .copyright {
    text-align: left;
  }
}

@media screen and (max-width: 425px) {
  .footer_area{
    padding: 50px 65px 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer_area{
    padding: 35px 45px 30px;
  }
}