* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* 404 Page */
.Page404_wrapper {
  background-color: rgb(12, 12, 12);
  height: 100vh;
  color: #e6283e;
  text-align: center;
}

/* Carousel */
.carousel {
  background-color: rgb(12, 12, 12);
  margin-top: 70px;
}

.carousel-item {
  height: 80vh;
  background-position: center;
}

.carousel-item img {
  height: 80vh;
  background-position: center;
  object-fit: cover;
}

.carousel-indicators {
  display: none;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
  background-color: transparent;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  /* Navbar */
  .nav_signin {
    margin-left: 0;
    margin-top: 5px;
  }

  .btn_search {
    bottom: 2px;
  }

  .search_wrap {
    width: 60%;
  }

  /* Carousel */
  .carousel-item {
    height: 100%;
  }
  .carousel-item img {
    height: 100%;
  }

  /* Content */
  .card-body > .card-title {
  font-size: 18px;
  }

  .card-body > .card-subtitle {
  font-size: 16px;
  padding-bottom: 15px;
  }

  /* Footer */
  .mt_30 {
    margin-top: 30px;
  }

  .mt_10 {
    margin-top: 10px;
  }

  .form_width {
    width: 80%;
  }

  .copyright {
    text-align: left;
    padding-top: 35px;
  }
}